@charset "UTF-8";

body{background-color: #E5FA8D;
display: flex;
justify-content: center;}


.container{box-shadow:6px 1px 6px grey;
width: 900px;
display: inline-block;
background-color: #E8DDAE;
border-radius: 1px;
border: 1px solid black;}

#Titulo{margin: 19px 155px 24px;
    border-radius: 21px 1px;
    box-shadow: 2px 4px 6px black;
    height: 100px;
    font-family: cursive;
    justify-content: center;
    width: 589px;
    background-color: #f0fbffd9;
    
    display: flex;
    bottom: -993px;
}
h2{
background-color: white;
    width: 364px;
    border: solid;
    border-radius: 6px;
    margin: 1px 5px -2px;}

#paragrafo1{
text-indent: 19px;
text-align: center;
text-indent: 1px;}


#paragrafos { display: flex;
            justify-content: center;
            justify-content: space-around;}

#paragrafos p{background-color: #9ADDDF;
    border: solid black;
    width: 147px;
    text-align: center;
    border-radius: 9px;        
}

label{font-family: cursive;
}

p{font-family: cursive;
text-indent: 10px;
margin: 6px 9px 14px;}

#contagem{text-indent: 10px;}

#total {background-color: white;
                    width: 215px;
                    border: solid;
                    border-radius: 6px;
                    margin: 1px 5px -2px;}

#comentarios {text-indent: 10px;}

#comentarios  h1 { 
                    background-color: white;
                    width: 364px;
                    border: solid;
                    border-radius: 6px;
                    margin: 1px 5px -2px;}

#bottom{margin: 1px 719px 10px;}

#bottom input{  background-color: #FA9D7A;
                width: 110px;
                height: 67px;
                border-radius: 10px;
                box-shadow: 4px 2px 6px grey;
                font-family: cursive;
                font-size: 18px;
                font-weight: bolder;}

#bottom :hover{ background-color: white;
 font-size: 120%;
cursor: pointer;}

